.dashboard {
    overflow: hidden;
    width: 100vw;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 20fr 1fr;
    font-family: 'Poppins', sans-serif;
}

.dashboard .header {
    grid-row: 1;
    grid-column: 2;
    color: white;
    font-weight: 600;
    font-size: 1.6em;
    display: flex;
    justify-self: left;
    align-self: flex-end;
    overflow: hidden;
}

.dashboard .white-box {
    overflow: hidden;
    grid-row: 3;
    grid-column: 2;
    background: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
    display: grid;
    grid-template-rows: 80px 41px 4fr;
}

.dashboard .white-box .sessions-title {
    grid-row: 1;
    background: white;
    display: flex;
    justify-self: flex-start;
    padding-left: 5%;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.dashboard .white-box .sessions-content {
    grid-row: 3;
    background: white;
    display: grid;
    grid-template-rows: 41px repeat(autofill, 81px);
    overflow-y: auto;
}

.dashboard .sessions-create-btn {
    grid-row: 5;
    grid-column: 2;
    background: white;
    border: none;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #0069ff;
    box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .dashboard {
        height: 100%;
        grid-template-rows: 2fr 1fr 9fr 1fr 1fr 1fr;
    }
    .dashboard .white-box {
        margin-left: 20%;
        margin-right: 20%;
    }
    .dashboard .header {
        grid-column: 1/4;
        color: #0069ff;
        background: white;
        font-size: 1.6em;
        display: flex;
        padding-left: 4%;
        justify-self: normal;
        align-self: normal;
        align-items: center;
        box-shadow: 1px 1px 5px 1px rgba(3, 27, 78, 0.2);
    
    }
    .dashboard .white-box .sessions-title {
        padding: 5%;
    }
    .dashboard .sessions-create-btn {
        width: 20%;
        transition: all .25s ease;
        box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
    }
    .dashboard .white-box .sessions-content {
        grid-template-rows: 41px repeat(autofill, 101px);
    }
    .dashboard .sessions-create-btn:hover {
        cursor: pointer;
        background: #0069ff;
        box-shadow: 0 10px 20px rgba(3, 27, 78, 0.2);
        color: white;
        transition: all .25s ease;
    }
    .dashboard .sessions-create-btn:focus {
        outline: none !important;
    }
}