.form-page {
    width: 100vw;
    height: 720px;
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr 1fr 5fr 1fr;
}

.form-page.admin-form {
    grid-template-rows: 1fr 1.5fr 3.5fr 2fr;
}

.form-page>form {
    background: white;
    color: rgb(16, 33, 78);
    grid-row: 3;
    display: grid;
    grid-template-rows: 80px repeat(5, 60px);
    row-gap: 10px;
    margin: 0 5%;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
    border: 1px solid rgba(3, 27, 78, .1);
    border-radius: 5px;
}

.form-page.admin-form>form {
    grid-template-rows: 80px repeat(2, 60px);
}

.form-page>form>title {
    font-weight: 600;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 60%;
}

.form-page>form>button {
    font-weight: 600;
    transition: all .25s ease;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    background-color: rgb(42, 115, 251);
    box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
}

.form-page>form>button:focus {
    transition: all 0.25s ease;
    outline: none !important;
}

.form-page>form>input {
    background-image: linear-gradient(transparent, transparent);
    /* For removing input box outline in iOS */
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    height: 100%;
    font-weight: light;
    font-size: 1em;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Make the border inner and not on the edge */
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    padding-left: 4%;
    /* So that the input text doesn't stick left */
}

.form-page>form>input::placeholder {
    color: rgba(3, 27, 78, .7);
}

.form-page>form>input:focus {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    outline: none !important;
    border: solid 1px rgb(38, 54, 250);
}

.form-page>form>input:focus::placeholder {
    color: transparent;
}