.headertab {
    grid-row: 1;
    display: grid;
    grid-template-rows: 33fr 74fr 33fr;
    grid-template-columns: 35fr 75fr 18fr 70fr 1484fr 88fr 28fr 87fr 35fr;
    background: white;
}

.headertab .logo-text {
    position: relative;
    top: 2px;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1.4em;
    grid-row: 2;
    grid-column: 4;
    justify-self: center;
    align-self: center;
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
}