.adminPage {
    width: 100vw;
    height: 900px;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 5fr 100px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: grid;
}

.whiteBox {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-rows: 2fr 2fr .5fr;
    overflow: hidden;
    background-color: white;
    border: 1px solid rgba(3, 27, 78, .1);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
    color: rgb(16, 33, 78);
}

.adminPage .header {
    grid-row: 1;
    grid-column: 2;
    color: white;
    font-weight: 600;
    font-size: 1.6em;
    display: flex;
    justify-self: left;
    align-self: flex-end;
    overflow: hidden;
}

.whiteBox .title {
    font-weight: 600;
    font-size: 1.8em;
    grid-row: 1;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.whiteBox .whiteBoxForm {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(2, 50px);
    grid-row-gap: 20px;
}

.whiteBox .submitBtn {
    transition: all .25s ease;
    border: none;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    color: white;
    background-color: rgb(42, 115, 251);
    box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
    font-weight: 600;
}

.whiteBox .submitBtn:focus {
    transition: all 0.25s ease;
    outline: none !important;
}

.whiteBoxForm .formField {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    grid-column: 2;
    height: 100%;
    display: flex;
    align-self: center;
    font-family: sans-serif;
    font-size: 1em;
    border: none;
    /* <-- Remove initial settings */
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    padding-left: 4%;
}

.whiteBoxForm .formField::placeholder {
    color: rgba(3, 27, 78, .7);
}

.whiteBoxForm .formField:focus {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    outline: none !important;
    border: solid 1px rgb(38, 54, 250);
}

.whiteBoxForm .formField:focus::placeholder {
    color: transparent;
}

.whiteBoxForm .passwordField {
    grid-row: 1;
}