.qr {
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: white;
    overflow: hidden;
}

.qr .qrcode {
    grid-column: 2;
    grid-row: 2;
    width: 320px;
    height: 320px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 5%;
}

.qr .generated {
    height: inherit;
}