.session {
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-left: 5%;
    padding-right: 5%;
    height: 80px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    color: rgb(109, 109, 109);
    font-weight: 400;
}

.session:active {
    background: rgba(245, 245, 245, 0.425);
}

.session .session-name {
    grid-column: 1;
}

.session .session-time {
    grid-column: 2;
}

.session .session-workers-amount {
    grid-column: 3;
}

.sessions-label {
    border-top: 1px solid #f1f1f1;
    height: 39px ;
    color: black;
    font-weight: 500;
    background: rgba(223, 223, 223, 0.103);
}