.session-info {
    background: rgba(209, 209, 209, 0.466);
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 50px;
    align-items: center;
    text-align: center;
    color: rgb(109, 109, 109);
    font-weight: 400;
    transition: all 0.25s ease;
    font-size: 1em;
    border-radius: 5px;
    overflow: hidden;
}

.session-info .session-name {
    background: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.session-info>button {
    font-weight: 600;
    font-size: 1em;
    background: #0069ff;
    color: white;
    height: 100%;
    border: none;
}