/* Defines style for pages for mainly presenting a table */

.current-sessions-bkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    overflow: hidden;
}

.current-sessions-bkg.blurred {
    filter: blur(5px);
    opacity: 0.5;
}

.current-sessions-bkg .white-box {
    grid-row: 2;
    background: white;
    box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
    display: grid;
    grid-template-rows: 80px 360px;
    height: 440px;
    margin: 10% 5% 0%;
    overflow: hidden;
    border-radius: 5px;
}

.current-sessions-bkg .white-box>title {
    grid-row: 1;
    background: white;
    display: flex;
    justify-self: flex-start;
    padding-left: 5%;
    align-items: center;
    font-size: 1.4em;
    font-weight: 500;
}

.current-sessions-bkg>button {
    grid-row: 3;
    background: white;
    border: none;
    display: flex;
    justify-self: center;
    justify-content: center;
    height: 50px;
    width: 50%;
    margin-bottom: 12.5%;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 600;
    color: #0069ff;
    box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
}

.transparent-screen {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}