.worker-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 820px;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 1fr 1fr 9fr 1fr 1fr 100px;
    overflow: hidden;
}

.worker-form .white-box {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-rows: 3fr 6fr;
    background: white;
    color: rgb(16, 33, 78);
    box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
    border: 1px solid rgba(3, 27, 78, .1);
    border-radius: 5px;
    overflow: hidden;
}

.worker-form .white-box>title {
    grid-row: 1;
    font-weight: 600;
    font-size: 1.8em;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.worker-form .white-box>form {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(5, 50px);
    grid-row-gap: 20px;
}

.worker-form .white-box>form>button {
    transition: all .25s ease;
    border: none;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    color: white;
    background-color: rgb(42, 115, 251);
    box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
    font-weight: 600;
}

.worker-form .white-box>form>button:focus {
    transition: all 0.25s ease;
    outline: none !important;
}

.worker-form .white-box>form>input {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    grid-column: 2;
    height: 100%;
    display: flex;
    align-self: center;
    font-weight: light;
    font-size: 1em;
    border: none;
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    padding-left: 4%;
}

.worker-form .white-box>form>input::placeholder {
    color: rgba(3, 27, 78, .7);
}

.worker-form .white-box>form>input:focus {
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    outline: none !important;
    border: solid 1px rgb(38, 54, 250);
}

.worker-form .white-box>form>input:focus::placeholder {
    color: transparent;
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .worker-form {
        width: 100vw;
        height: 100vw;
        grid-template-columns: 1fr 20fr 1fr;
        grid-template-rows: 1fr 16fr 1fr;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .worker-form {
        height: 100%;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 7fr 5fr;
    }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (orientation: portrait) {
    .worker-form {
        grid-template-rows: 2fr 1fr 6fr 6fr;
    }
}

@media (min-width: 992px) and (orientation: landscape) {
    .worker-form {
        grid-template-rows: 2fr 2fr 8fr 3fr;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .worker-form {
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 2fr 2fr 9fr 2fr;
    }
    .worker-form .white-box>form {
        grid-template-columns: 1fr 4fr 1fr !important;
    }
    .worker-form .white-box>form>button:hover {
        transition: all .25s ease;
        background-color: rgb(38, 54, 250);
        cursor: pointer;
    }
    .worker-form .white-box>form>input:hover {
        transition: all 0.2s ease;
        border: solid 1px rgba(42, 152, 255, 0.5);
    }
}